In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/mnt/text2sql/')
from GptPrompter import *
dataset = pd.read_csv('./data/pristine-unseen-tables-sample400.tsv', sep='\t')
# dataset = pd.read_csv('./data/training.tsv', sep='\t')

In [2]:
# i = random.randint(0, dataset.shape[0])
i = 52
# utterance = '4 of the cultural interest fraternity and sorority be fraternity while 3 be a sorority'
# i = dataset.loc[dataset['utterance'] == f'{utterance}. yes or no?'].index[0]
df = dataset.iloc[i]
df

id                                                       nu-1286
utterance      of all the games won, which game had a score g...
context                                       csv/204-csv/97.csv
targetValue                                          February 16
Name: 52, dtype: object

In [11]:

DF = pd.read_csv(f'{df["context"]}', sep=',')
DF.columns = [normalize_col_name(c).lower() for c in DF.columns.tolist()]

table = table_formater(DF, line_limit=5)

# print("Given the following database table DF, answer a question by executing SQL queries. For each question, generate a series of SQL quereis to answer the question step-by-step. At each step, choose to generate SQL query (SQL), or directly answer the question (Answer).")
# print()
# print('The database table DF is shown as follows:')
# print(table_formater(DF, line_limit=10))
# print()
# print(f'Answer the following question based on the data above: "{df["utterance"]}". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.')
# print(f'Answer the following question based on the data above: "{df["utterance"]}". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.')
print(f'Question: "{df["utterance"]}"')
print(table)
table


# utterance = 'of the members of the third incarnation of the lachlan, who served the longest?'
# df = dataset.loc[dataset['utterance'] == utterance]

# DF = pd.read_csv(f'{df["context"].iloc[0]}', sep=',')
# DF.columns = [normalize_col_name(c).lower() for c in DF.columns.tolist()]
# print('The database table DF is shown as follows:')
# print(table_formater(DF, line_limit=5))
# print()
# print(f'Answer the following question based on the data above: "{df["utterance"].iloc[0]}". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.')
# # print(f'Answer the following question based on the data above: "{df["utterance"].iloc[0]}". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.')

Question: "of all the games won, which game had a score gap less than the february 28th game?"
[HEAD]: date|opponent|score|top_scorer_total_points|venue
---
[ROW] 1: February 7 All-Filipino Cup|SHELL|76-60|nan|PHILSPORTS ARENA
[ROW] 2: February 11|MOBILINE|80-68|nan|ARANETA COLISEUM
[ROW] 3: February 16|ALASKA|73-72|Davonn Harp (20)|PHILSPORTS ARENA
...
[ROW] 18: October 24|BRGY.GINEBRA|93-72|nan|PHILSPORTS ARENA
[ROW] 19: November 7|SAN MIGUEL|86-81|nan|ARANETA COLISEUM

'[HEAD]: date|opponent|score|top_scorer_total_points|venue\n---\n[ROW] 1: February 7 All-Filipino Cup|SHELL|76-60|nan|PHILSPORTS ARENA\n[ROW] 2: February 11|MOBILINE|80-68|nan|ARANETA COLISEUM\n[ROW] 3: February 16|ALASKA|73-72|Davonn Harp (20)|PHILSPORTS ARENA\n...\n[ROW] 18: October 24|BRGY.GINEBRA|93-72|nan|PHILSPORTS ARENA\n[ROW] 19: November 7|SAN MIGUEL|86-81|nan|ARANETA COLISEUM'

In [12]:
# # DF = new_df


# code = \
# """
# DF['time_order'] = DF.index
# """
# exec(code)

# print(f"Python: ```\n{code}```.")


# SQL = 'SELECT date, score FROM DF WHERE score LIKE "%–%";'
SQL = 'SELECT date, score FROM DF WHERE score LIKE "%-%";'

import pandasql as ps
DF = ps.sqldf(SQL)
# print(table_formater(new_df, line_limit=5))

print(f"SQL: ```{SQL}```.")





table = table_formater(DF, line_limit=10)
print(f'Question: "{df["utterance"]}"')
print(table)
table
# print(f'Answer the following question based on the data above: "{df["utterance"]}". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.')
# print(f'Answer the following question based on the data above: "{df["utterance"]}". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.')

SQL: ```SELECT date, score FROM DF WHERE score LIKE "%-%";```.
Question: "of all the games won, which game had a score gap less than the february 28th game?"
[HEAD]: date|score
---
[ROW] 1: February 7 All-Filipino Cup|76-60
[ROW] 2: February 11|80-68
[ROW] 3: February 16|73-72
[ROW] 4: February 28|78-76
[ROW] 5: March 3|79-72
[ROW] 6: March 9|65-58
[ROW] 7: April 4|87-84
[ROW] 8: June 10 Commissioner's Cup|97-92
...
[ROW] 18: October 24|93-72
[ROW] 19: November 7|86-81

"[HEAD]: date|score\n---\n[ROW] 1: February 7 All-Filipino Cup|76-60\n[ROW] 2: February 11|80-68\n[ROW] 3: February 16|73-72\n[ROW] 4: February 28|78-76\n[ROW] 5: March 3|79-72\n[ROW] 6: March 9|65-58\n[ROW] 7: April 4|87-84\n[ROW] 8: June 10 Commissioner's Cup|97-92\n...\n[ROW] 18: October 24|93-72\n[ROW] 19: November 7|86-81"

In [10]:
SQL == SQL1

False

In [120]:
# code = \
# """
# def get_value(x):
#     return int(x.replace(',', ''))
# DF['passengers_num'] = DF.apply(lambda x: get_value(x['passengers']), axis=1)
# """
code = \
"""
def get_country(s):
    try:
        return re.search("\((.*?)\)", s).group(1)
    except:
        return s
DF['country'] = DF.apply(lambda x: get_country(x['cyclist']), axis=1)
"""
exec(code)

print(f"Python: ```{code}```.")

table = table_formater(DF, line_limit=10)
print(f'Question: "{df["utterance"]}"')
print(table)
table

Python: ```
def get_country(s):
    try:
        return re.search("\((.*?)\)", s).group(1)
    except:
        return s
DF['country'] = DF.apply(lambda x: get_country(x['cyclist']), axis=1)
```.
Question: "which country had the most cyclists finish within the top 10?"
[HEAD]: cyclist|country
---
[ROW] 1: Alejandro Valverde (ESP)|ESP
[ROW] 2: Alexandr Kolobnev (RUS)|RUS
[ROW] 3: Davide Rebellin (ITA)|ITA
[ROW] 4: Paolo Bettini (ITA)|ITA
[ROW] 5: Franco Pellizotti (ITA)|ITA
[ROW] 6: Denis Menchov (RUS)|RUS
[ROW] 7: Samuel Sánchez (ESP)|ESP
[ROW] 8: Stéphane Goubert (FRA)|FRA
[ROW] 9: Haimar Zubeldia (ESP)|ESP
[ROW] 10: David Moncoutié (FRA)|FRA

'[HEAD]: cyclist|country\n---\n[ROW] 1: Alejandro Valverde (ESP)|ESP\n[ROW] 2: Alexandr Kolobnev (RUS)|RUS\n[ROW] 3: Davide Rebellin (ITA)|ITA\n[ROW] 4: Paolo Bettini (ITA)|ITA\n[ROW] 5: Franco Pellizotti (ITA)|ITA\n[ROW] 6: Denis Menchov (RUS)|RUS\n[ROW] 7: Samuel Sánchez (ESP)|ESP\n[ROW] 8: Stéphane Goubert (FRA)|FRA\n[ROW] 9: Haimar Zubeldia (ESP)|ESP\n[ROW] 10: David Moncoutié (FRA)|FRA'

In [113]:
# df["targetValue"].iloc[0]
df["targetValue"]

'6'

In [40]:
DF = pd.read_csv(f'{df["context"].iloc[1]}', sep=',')

IndexError: single positional indexer is out-of-bounds

The database table DF is shown as follows:
[HEAD]: rank|mountain_peak|mountain_range|elevation|prominence|isolation|location
---
[ROW] 1: 1|Mount Whitney|Sierra Nevada|14,505 ft 4421 m|10,080 ft 3072 m|1,646 mi 2,649 km|36°34′43″N 118°17′31″W﻿ / ﻿36.5786°N 118.2920°W
[ROW] 2: 2|Mount Williamson|Sierra Nevada|14,379 ft 4383 m|1,677 ft 511 m|5.4 mi 8.7 km|36°39′21″N 118°18′40″W﻿ / ﻿36.6559°N 118.3111°W
[ROW] 3: 3|White Mountain Peak|White Mountains|14,252 ft 4344 m|7,196 ft 2193 m|67 mi 109 km|37°38′03″N 118°15′21″W﻿ / ﻿37.6341°N 118.2557°W
...
[ROW] 15: 15|Red Slate Mountain|Sierra Nevada|13,162 ft 4012 m|1,736 ft 529 m|8 mi 13 km|37°30′27″N 118°52′09″W﻿ / ﻿37.5075°N 118.8693°W
[ROW] 16: 16|Mount Ritter|Sierra Nevada|13,149 ft 4008 m|3,990 ft 1216 m|22 mi 35 km|37°41′21″N 119°11′59″W﻿ / ﻿37.6891°N 119.1996°W

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT mountain_peak, prominence FROM DF;```.

The database table DF is shown as follows:
[HEAD]: mountain_peak|prominence
---
[ROW] 1: Mount Whitney|10,080 ft 3072 m
[ROW] 2: Mount Williamson|1,677 ft 511 m
[ROW] 3: White Mountain Peak|7,196 ft 2193 m
...
[ROW] 15: Red Slate Mountain|1,736 ft 529 m
[ROW] 16: Mount Ritter|3,990 ft 1216 m

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Python: ```
def get_ft(s):
    import re
    return float(re.search("(.*?) ft", s).group(1))
DF['prominence_ft'] = DF.apply(lambda x: get_ft(x['prominence']), axis=1)
```.

The database table DF is shown as follows:
[HEAD]: mountain_peak|prominence|prominence_ft
---
[ROW] 1: Mount Whitney|10,080 ft 3072 m|10080.0
[ROW] 2: Mount Williamson|1,677 ft 511 m|1677.0
[ROW] 3: White Mountain Peak|7,196 ft 2193 m|7196.0
...
[ROW] 15: Red Slate Mountain|1,736 ft 529 m|1736.0
[ROW] 16: Mount Ritter|3,990 ft 1216 m|3990.0

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT mountain_peak FROM DF WHERE prominence_ft>10000;```.

The database table DF is shown as follows:
[HEAD]: mountain_peak
---
[ROW] 1: Mount Whitney

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Answer: ```Mount Whitney```.